<html>
    <head>
        <script type="text/javascript">
            function goback() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <h1>Error: 404</h1>
        <h3>The page you requested doesn't exist!</h3>
        <button onclick="goback()">Go Back</button>
    </body>
</html>