<!DOCTYPE html>
<html>
	<head>
		<title>List Assist</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/items.css' />
	</head>
<body>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="bootstrap.bundle.min.js"></script>
	<script src="items.js"></script>

	<!-- Main content -->
	<h1>List Title</h1>
	<div id="table" class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item Title</h5>
						<p class="card-text">Description</p>
						<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="">View on Amazon</button>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item Title</h5>
						<p class="card-text">Description</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
