<!DOCTYPE html>
<html>
	<head>
		<title>List Assist</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/itemsPublic.css' />
		<div id="data_list_id" data-id="<%= id %>"></div>
		<script type="text/javascript">
		console.log(document.getElementById("data_list_id").getAttribute("data-id"));
		</script>
	</head>
<body>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="bootstrap.bundle.min.js"></script>
    <script src="itemsPublic.js"></script>
    
    <!-- Mark as bought modal -->
	<div class="modal fade" id="markAsBoughtModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Mark as bought</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                    <div class="form-group">
                        <label for="markAsBoughtNameField">Name</label>
                        <input type="text" class="form-control" id="markAsBoughtNameField">
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="markAsBoughtSaveButton">Save</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Main content -->
	<h1>List Title</h1>
	<div id="table" class="container-fluid">
		<div class="row">
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png" link="https://www.amazon.com/Mens-Love-Computer-Science-T-Shirt/dp/B076762F5Z/ref=sr_1_1?ie=UTF8&qid=1518988927&sr=8-1&keywords=I+love+computer+science&dpID=41d8wHPcU5L&preST=_SX342_QL70_&dpSrc=srch">
					<div class="card-body">
						<h5 class="card-title">Item Title</h5>
						<p class="card-text">Description</p>
						<button type="button" class="btn btn-outline-primary btn-sm markAsBoughtButton" data-toggle="modal" data-target="#markAsBoughtModal">Mark as bought</button>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png" link="https://www.amazon.com/Mens-Love-Computer-Science-T-Shirt/dp/B076762F5Z/ref=sr_1_1?ie=UTF8&qid=1518988927&sr=8-1&keywords=I+love+computer+science&dpID=41d8wHPcU5L&preST=_SX342_QL70_&dpSrc=srch">
					<div class="card-body">
						<h5 class="card-title">Item Title</h5>
						<p class="card-text">Description</p>
						<button type="button" class="btn btn-outline-primary btn-sm markAsBoughtButton" data-toggle="modal" data-target="#markAsBoughtModal">Mark as bought</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
