<!DOCTYPE html>
<html>
	<head>
		<title>List Assist</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/list.css' />
	</head>
<body>
	<script src="jquery-3.3.1.min.js"></script>
	<script src="bootstrap.bundle.min.js"></script>

	<!-- Edit item modal -->
	<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit item</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="editItemNameField">Name</label>
							<input type="text" class="form-control" id="editItemNameField">
						</div>
						<div class="form-group">
							<label for="editItemDescriptionField">Description</label>
							<input type="text" class="form-control" id="editItemDescriptionField">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger mr-auto">Remove</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>




	<h1>Chistmas List</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editItemModal">Edit</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img class="card-img-top" src="defaultItem.png">
					<div class="card-body">
						<h5 class="card-title">Item title</h5>
						<p class="card-text">Description</p>
						<a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
