<!DOCTYPE html>
<html>
	<head>
		<title>List Assist - Sign in</title>

		<meta name="google-signin-client_id" content="573599211231-qce8oli9m4kjlb9fl0ah35evg4e8seju.apps.googleusercontent.com">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script>
			function onSignIn(googleUser) {
				var profile = googleUser.getBasicProfile();
				console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
				console.log('Name: ' + profile.getName());
				console.log('Image URL: ' + profile.getImageUrl());
				console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/user/login");
				xhr.onload = function() {
					console.log(this.responseText)
				}
				xhr.send(JSON.stringify({
					tokenId : googleUser.getAuthResponse().id_token,
					provider : 'google',
					name : profile.getName(),
					email : profile.getEmail()
				}));

				/*var data = {};
				data["tokenId"] = googleUser.getAuthResponse().id_token;
				data["provider"] = "google";
				data["name"] = profile.getName();
				data["email"] = profile.getEmail();
				data = JSON.stringify(data);

				console.log(data);

				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/user/login");
				//xhr.open("POST", "https://listassist.duckdns.org/user/login");
				xhr.onload = function() {
					console.log(this.responseText);
					if(xhr.status == 200) {
						console.log("We logged in bois");
					}
					else {
						console.log("Get wit it");
					}
				};
				xhr.send(data);*/
			}
		</script>

		<h1>List Assist Sign In</h1>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>

	</body>
</html>