<!DOCTYPE html>
<html>
	<head>
		<title>ListAssist</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/login.css' />
	</head>
	<body>
		<script src='javascript/jquery-3.3.1.min.js'></script>
		<script src='javascript/bootstrap.bundle.min.js'></script>
		<script src='javascript/login.js'></script>

		<h1>Hello</h1>
		<div class='container'>
			<div class='row'>
				<div class='col'>left</div>
				<div class='col'>right</div>
			</div>
		</div>

	</body>
</html>