<!DOCTYPE html>
<html>
  <head>
    <title>New List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New List</h1>
    <p>This is where you make a cool new list</p>
  </body>
</html>
