body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html { 
  background: url(../background_img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#sign_in_div {
	position: absolute;
	left: 35.5%;
	top: 15%;
	font-weight: bold;
	padding-top: 0.5em;
	padding-right: 4em;
	padding-left: 4em;
	padding-bottom: 5em;
	border: 3px solid black;
	background: white;
	border-radius: 25px;
}
#main_header {
	position: relative;
	font-size: 3em;
	font-family: "Helvetica Neue", sans-serif;
}

#sign_in_header {
	position: relative;
	left: 3%;
	font-family: "Helvetica Neue", sans-serif;
}

.g-signin2 {
	position: relative;
	left: 20%;
}

#list_page {
	margin-top: 50px;
}

#logout {
	margin-top: 50px;
	margin-left: 25px;

}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}

